*{margin: 0;padding: 0;}
ol,ul{list-style: none;}
a{text-decoration: none; color: inherit;}
img{max-width: 100%;}

/* layout */
body{
    background: lightsteelblue;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    padding-bottom: 0;
}
.snsMenu{
    display: flex;
}
.snsMenu>li{
    font-size: 25px;
    margin-right: 14px;
    color: #fff;
    transition:transform 0.5s ease 0s, color 1s ease 0s;
}
.snsMenu>li:hover{
    transform: scale(1.2);
    color: blueviolet;
}
.snsMenu>li:last-of-type{margin-right: 0;}
.logo{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    line-height: 0;
}
.stationMenu{
    display: flex;
    padding-left: 20px;
    margin-bottom: 70px;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
}
.stationMenu>li{
    margin-right:20px;
    transition: all 0.5s ease 0s;
}
.stationMenu>li:hover{
    color: blueviolet;
}
.station{
    width: 100%;
    height: 500px;
    overflow: hidden;
}
.train{
    width: 4600px; /* 리스트를 클릭했을 때 원래크기보다 600픽셀이 더 늘어날 것을 예상 */
    height: 500px;
    transition: all 1s ease 0s;
    display: flex;
}
.train>li{
    width: 180px;
    height: 400px;
    margin-right: 20px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    opacity: 0.7;
    transition: all 0.3s ease 0s;
}
.train>li:hover{opacity: 1;}
.title{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 80px;
    background: black;
    color: #fff;
    padding: 14px 0;
    padding-left: 10px;
    text-transform: capitalize;
}
.btnClose{display: none;}
.train>li>p{display: none;}
.small{width: 100%;}

/* list에 on클래스가 추가되었을 때의 스타일 */
.train>li.on{
    width: 780px;
    height: 500px;
    opacity: 1;
}
.train>li.on .small{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.train>li.on .title{
    font-size: 35px;
    padding:20px 0;
    padding-left: 20px;
    bottom: 320px;
    opacity: 0.6;
}
.train>li.on .btnClose {
    display: block;
    position: absolute;
    right: 33px;
    top: 104px;
    padding: 20px;
    cursor: pointer;
    color: #fff;
}
.train>li.on>p{
    display: block;
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: black;
    color: #fff;
    padding: 15px;
    font-weight: 200;
}

.big{
    display: none;
}