*{
    margin:0;padding:0;
    
}
.box{
    width:600px;
    height: 700px;
    background:pink;
    margin:0 auto;
    font-size: 5rem;
    text-transform: uppercase;
    display:flex;
    flex-direction: row ;
    justify-content:flex-start;
    /* justify -> 메인축 기준 속성*/
    align-items:flex-start;
    /* align -> 수직축 기준 속성 */
    /* flex-wrap:wrap;
    align-content: center; */
    /* flex-wrap:wrap; */
}
.box>div{
    /* flex-basis:100px; */
    /* flex-shrink:1; */
    /* flex-grow:1; */
    flex:1;
    /* flex-basis:0%;
    flex-grow:1;
    flex-shrink: 1; */
}
.box .a{
    background: red;
    /* order:0;
    align-self: flex-end; */
    /* flex-shrink:2; */
    /* flex-grow: 2; */
}
.b{
    background:green;
    /* order:2; */
}
.c{
    background: blue;
    /* order:3; */
}
.d{
    background: orange;
    /* order:1; */
}