/* common-style */
html{
    font-size:12px;
    font-family: 'Noto Sans KR', sans-serif;
}

.container{
    border: 1px solid red;
    margin:0 auto;
    width:820px
}

header>h1{
    margin:10px 0;
}
header p{
    font-style: italic;
    border-bottom: 3px solid blue;
    padding-bottom: 5px;
}
header h2{
    font-size: 2rem;
    font-weight: bold;
    margin:10px 0;
}
.box{
    border:1px solid gray;
    padding:5px;
    background:lightgray;
}
/* --------------------------------------------- */
.asia{
    float:left;
    width:calc(100% /3 - 20px);
}
.Americas{
    float:left;
    width:calc(100% /3 - 20px);
    margin: 0 30px;
}
.Europe{
    float:right;
    width:calc(100% /3 - 20px);
}
main:after{
    clear:both;
    content:"";
    display:block;
}
/* asia */
.asia>h3{
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
}
.asia img{
    float:left;
    margin-right:10px;
}
.asia li{
    margin-bottom: 20px;
}
/* Americas */
.Americas>h3{
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
}
.Americas img{
    float:left;
    margin-right:10px;
}
.Americas li{
    margin-bottom: 20px;
}
/* Europe */
.Europe>h3{
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
}
.Europe img{
    float:left;
    margin-right:10px;
}
.Europe li{
    margin-bottom: 20px;
}
/* ------------------------------ */
.container a{
    color:blue;
}
footer{
    border:1px solid gray;
    background: lightgray;
}
footer span.color{
    color:blue;
}
footer span.bold{
    font-weight: bold;
}

