/* common-style */
html{
    font-size: 12px;
    font-family: 'Noto Sans KR', sans-serif;
}

/* layout(대략적인 레이아웃 : 큰영역 -> 작은영역)*/
.container{
    width:820px;
    margin:0 auto;
}
header{
    border-bottom:3px solid blue;
    margin-bottom: 16px;
}
main{
    margin-bottom: 50px;
}
footer{}

/* detail */

/* ---------------------header--------------------- */
header{
    padding-top:12px;
    padding-bottom: 5px;
}
header h1{
    margin-bottom:5px;
}
header p{
    font-style: italic;
    color:gray;
}
/* -----------------------main--------------------- */
main h3{
    font-size: 2rem;
    font-weight:bold;
}
main form{
    border: 1px solid #ddd;
    margin-bottom:10px;
    padding: 5px;
    background:#eee;
    /* 16진수 색상 표현법에서 똑같은 문자가 6개가 반복된다면 3자리로 줄여서 표현할 수 있다. */
}
main form *{vertical-align: middle;}
.nation{
    border: 1px solid red;
}
.nation>section{
    box-sizing:border-box;
    float:left;
    /* float를 사용하여 공중에 띄우게 되면 암묵적으로 display형태는 inline-block으로 변한다. */
    width:calc((100% - 40px)/3);
    margin-right:20px;
}
.nation>section:last-of-type{
    margin-right:0;
}
.nation:after{
    content:"";
    display:block;
    clear:both;
}
.nation>section>h4{
    border-bottom: 1px solid #ccc;
    padding-bottom:4px;
    margin-bottom: 6px;
}
.nation>section>ul>li{
    margin-bottom: 20px;
}
.nation>section>ul>li:last-of-type{
    margin-bottom: 0;
}
.nation>section>ul>li:after{
    content:"";
    display:block;
    clear:both;
}
.nation>section>ul>li>img{
    float:left;
    margin-right: 10px;
}
/* ---------------------footer------------------- */
footer{
    border: 1px solid #ddd;
    margin-bottom:10px;
    padding: 5px;
    background:#eee;
}
.fLeft{
    float:left;
}
.fRight{
    float:right;
}
footer:after{
    content:"";
    display:block;
    clear:both;
}
footer dl>*{
    float:left;
    margin-right: 10px;
}
footer dl>dd:nth-of-type(3),
footer dl>dd:nth-of-type(4){
    border-left:1px solid #ccc;
    padding-left: 10px;
}
footer dl:after{
    content:"";
    display:block;
    clear:both;
}
footer dl>dt{font-weight: bold;}
footer dl>dd{color:navy;}
.copy{
    margin-top:10px;
    color:gray;
}

.fRight span>b{
    color:navy;
}
.fRight>*{vertical-align: middle;}