*{margin: 0;padding: 0;}
.box{
    width:1000px;
    background: pink;
    margin:0 auto;
}
.box>section{
    width:250px;
    height: 300px;
    font-size:5rem;
    float:left;
}
.box:after{
    content:"";
    display:block;
    clear:both;
}
.box .s1{
    background: red;
    box-sizing: border-box;
    border:50px solid lime;
}
.box .s2{
    background: blue;
}
.box .s3{
    background: green;
}
.box .s4{
    background: orange;
}

/* ------------------------------------------- */

.box2{
    width:1000px;
    background:pink;
    margin:100px auto;
}
.box2>section{
    font-size:5rem;
    float:left;
    width:calc(50% - 5px);
}
.box2:after{
    content:"";
    display:block;
    clear:both;
}
.box2 .s1{
    background:red;
    margin-right: 10px;
    margin-bottom: 10px;
}
.box2 .s2{
    background: blue;
    margin-bottom: 10px;
}
.box2 .s3{
    background:green;
    margin-right:10px;
}
.box2 .s4{
    background: orange;
}

/* --------------------------------------- */

.box3{
    width:1000px;
    background:pink;
    margin:100px auto;
}
.box3>section{
    font-size: 5rem;
    float:right;
    width:calc((100% - 40px) / 3);
}
/* .box3:after{
    content:"";
    display:block;
    clear:both;
} */
.box3 .s1{
    background:red;
    margin-left:20px;
    margin-bottom:20px;
    /* width:calc((100% - 40px) / 3); */
}
.box3 .s2{
    background:blue;
    margin-left:20px;
    margin-bottom:20px;
    /* width:calc((100% - 40px) / 3); */
   
}
.box3 .s3{
    background:green;
    margin-bottom:20px;
    /* width:calc((100% - 40px) / 3); */
 
}
.box3 .s4{
    clear:both;float:none;
    background:orange;
    width:100%
}

/* ------------------------------------- */

.box4{
    width:1000px;
    background:pink;
    margin:100px auto;
}
.box4>section{
    font-size: 5rem;
    float:left;
    width:calc(100% - 300px - 20px);
    height:calc((640px - 40px) / 3);
}
.box4:after{
    content:"";
    display:block;
    clear:both;
}
.box4 .s1{
    background:red;
    width:300px;
    height:640px;
    margin-right:20px;
}
.box4 .s2{
    background:blue;
    margin-bottom: 20px;
    /* width:calc(100% - 300px - 20px); */
    /* height:calc((640px - 40px) / 3); */
   
}
.box4 .s3{
    background:green;
    margin-bottom: 20px;
    /* width:calc(100% - 300px - 20px); */
    /* height:calc((640px - 40px) / 3); */
 
}
.box4 .s4{
    background:orange;
    /* width:calc(100% - 300px - 20px); */
    /* height:calc((640px - 40px) / 3); */
}

/* ----------------------------------------- */

.box5{
    width:1000px;
    background: pink;
    margin:100px auto;
}
.box5>section{
    font-size: 5rem;
    float:left;
    width:calc((100% - 40px) / 3);
    height:calc(400px + 20px);
}
.box5:after{
    content: "";
    display:block;
    clear:both;
}
.box5 .s1{
    background:red;
    margin-right:20px;
}
.box5 .s2{
    float:right;
    background:blue;
    margin-bottom:20px;
    height:200px;
 
}
.box5 .s3{
    background:green;
    margin-right: 20px;
}
.box5 .s4{
    background:orange;
    height:200px;
}
