*{margin:0;padding:0;}
body{margin-bottom:500px;}
.boxa{
    border: 1px solid red;
    width:200px;
    height:200px;
    margin:50px auto;
}
@keyframes sunRotate{
    0%{transform:rotate(0deg);}
    25%{border-radius: 50%;}
    50%{background: red;}
    100%{transform: rotate(360deg);}
}

.boxa{
    /* animation-name:sunRoate;
    animation-duration:1s;
    animation-timing-function: linear;
    animation-delay:0s;
    animation-iteration-count: infinite;
    animation-direction: normal; */
    animation:sunRotate 500s linear 0s infinite;
}

@keyframes sun{
    0%{transform: translate(0%,0%);}
    25%{transform: translate(100%, 0%);}
    50%{transform: translate(100%, 100%);}
    75%{transform: translate(0%, 100%);}
    100%{transform: translate(0%,0%);}
}
.boxb{
    width:400px;
    height: 400px;
    background: skyblue;
    animation:sun 500s linear 0s infinite;
    transition: all 0.5s ease 0s;
}
.boxb:hover{
    animation-play-state: paused;
    /* 마우스를 올렸을 때 애니메이션이 일시정지 됨 */
    border-radius: 50%;
    background: pink;
}

.spantag{
    background:purple;
    transition: all 0.5s ease 0s;
    position: fixed;
    left:50%;bottom:50%;
    width:200px;
    height:200px;
}
.spantag:hover{
    transform: rotate(90deg);
    background: violet;
}
/* span 태그는 inline형태라 transform이 적용이 안됨 */