/* common */
html{
    font-size: 12px;
    font-family: 'Noto Sans KR', sans-serif;
}
/* layout */
.all{
    width:920px;
    margin:0 auto;
}
footer{
    background:#f0f0f0;
}
.innerFooter{
    width:920px;
    margin:0 auto;
}
/* ---------------------header-------------------- */
header{
    display:flex;
    justify-content: space-between;
}
.lnb{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}
.gnb{
    display: flex;
}
.lnb>li{
    background:#333;
    color:#fff;
    font-size: 0.9rem;;
    padding:2px 8px;
}
.lnb>li:first-of-type{padding-left:16px;}
.lnb>li:last-of-type{padding-right:16px;}
.gnb>li{
    padding:10px 16px;
    font-size:1.2rem;
    font-weight: bold;
    color:#333;
}
/* ---------------------main-------------------- */
.contents{
    display:flex;
    justify-content:space-between;
}
.contents>section{
    width:calc((100% - 40px)/3);
}
.contents>section>h2{
    border-bottom:1px solid #ccc;
    margin-bottom: 14px;
    /* display:flex;
    justify-content: space-between;*/
}
.btnMore{
    float:right;
}
.noticeList>li{
    margin-bottom: 3px;
}
.noticeList>li:last-of-type{
    margin-bottom: 0;
}
.noticeList>li>a{
    display:block;
}
.noticeList>li>a>span{
    float:right;
}
.quickList{
    display:flex;
}
.all{
    margin-bottom: 35px;
}
/* ---------------------footer-------------------- */
.innerFooter{
    display:flex;
    padding:20px 0;
    justify-content: space-between;
}

.footMenu{
    display:flex;
    margin-bottom: 8px;
}
.footMenu>li{
    margin-right:20px;
}
.footMenu>li:last-of-type{
    margin-right:0;
}