*{margin: 0; padding: 0;}
ul,ol{list-style: none;}

ul svg{
    /* width: 500px; */
    border: 1px solid red;
    transform: rotate(-90deg);
}

.a{
    transition: all 1s ease 0s;
    fill: lightsteelblue; /* 면색 */
    fill-opacity: 0.5; /* 면색의 투명도 */
    stroke: skyblue; /* 선 */
    stroke-width: 2; /* 선 두께 */
    stroke-dasharray: 314; /* 선 길이 */
    stroke-dashoffset: 314; /* 선 좌표 */
}

.a:hover{
    fill: lightgreen;
    fill-opacity: 1;
    stroke: greenyellow;
    stroke-width: 3;
    stroke-dashoffset: calc((1 - 0.6)*314);
}

.list{
    width: 1200px;
    margin: 0 auto;
    display: flex;
}
.list>li{
    flex: 1;
}

.c1{
    fill:#fff;stroke:#000;stroke-miterlimit:10;
    transition: all 0.5s ease 0s;
    /* stroke-dasharray:10000 ;
    stroke-dashoffset: 10000; */
}
.c1:hover{
    stroke: lightseagreen;
    stroke-width: 5;
    stroke-dashoffset: 0!important;
}