*{margin: 0;padding: 0;}

.intro{
    height: 100vh;
    background:lightpink;
}
.fixedFrame{
    height: 8000px;
    background: lightblue;
    position: relative;
}
.contents{
    height: 200vh;
    background:lightslategrey;
}
.movingArea{
    height: 100vh;
    background:lightgreen;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
.movingArea figure{
    width: 100%;
    height: 100%;
    border: 1px solid red;
    margin: 0 auto;
    position: absolute;
    right: 0;
    bottom: 0;
}
#progress{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#progress path{
    fill: transparent;
    stroke: rgb(6, 147, 241);
    /* stroke-dasharray: 100;
    stroke-dashoffset: 0;
    animation: dashmove 20s linear 0s infinite alternate;
    transition: all 0.5s ease 0s; */
}
/* #progress path:hover{
    stroke: rgb(10, 245, 245);
    stroke-width: 2;
    stroke-dasharray: 150;
} */
/* @keyframes dashmove{
    0%{stroke-dashoffset: 0;}
    100%{stroke-dashoffset: 1000;}
} */
.per{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 10rem;
    opacity: 0.3;
    font-weight: bold;
}
.station{
    width: 100%;
    height: 100%;
}
.train{
    list-style: none;
    width: 800%;
    height: 100%;
    display: flex;
}
.train>li{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border: 1px solid black;
    font-size: 10rem;
    font-weight: bold;
}
.train>li b{
    border: 1px solid red;
    display: inline-block;
    transform: rotateY(180deg);
}
.train>li.on{
    color: aqua;
}